.clearfix::after, .row::after {
  content: '';
  display: table;
  clear: both;
}

.full {
  width: 100%;
  max-width: 100%;
}

.half {
  width: 46.9%;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.circle, ul li::before {
  border-radius: 50%;
}

.list-inline, .list-unstyled, ul {
  list-style: none;
}

.list-inline {
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.border {
  border: 1px solid #E6E6E6;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

[class*="bg-"] {
  color: #fff;
}

.text-primary {
  color: #E84466;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #de1b44;
}

.bg-primary {
  background: #E84466;
  border-color: #e5296f;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #de1b44;
}

.text-muted {
  color: #777777;
}
a.text-muted:hover,
a.text-muted:focus {
  color: #5e5e5e;
}

.bg-muted {
  background: #777777;
  border-color: #686868;
}
a.bg-muted:hover,
a.bg-muted:focus {
  background-color: #5e5e5e;
}

.text-success {
  color: #8BC34A;
}
a.text-success:hover,
a.text-success:focus {
  color: #71a436;
}

.bg-success {
  background: #8BC34A;
  border-color: #90b33b;
}
a.bg-success:hover,
a.bg-success:focus {
  background-color: #71a436;
}

.text-info {
  color: #00BCD4;
}
a.text-info:hover,
a.text-info:focus {
  color: #008fa1;
}

.bg-info {
  background: #00BCD4;
  border-color: #00b5ac;
}
a.bg-info:hover,
a.bg-info:focus {
  background-color: #008fa1;
}

.text-warn {
  color: #FFC107;
}
a.text-warn:hover,
a.text-warn:focus {
  color: #d39e00;
}

.bg-warn {
  background: #FFC107;
  border-color: #e78700;
}
a.bg-warn:hover,
a.bg-warn:focus {
  background-color: #d39e00;
}

.text-error {
  color: #E51C23;
}
a.text-error:hover,
a.text-error:focus {
  color: #b9151b;
}

.bg-error {
  background: #E51C23;
  border-color: #cb173c;
}
a.bg-error:hover,
a.bg-error:focus {
  background-color: #b9151b;
}

.row {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.col-1 {
  width: 8.33333%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-2 {
  width: 16.66667%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-3 {
  width: 25%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-4 {
  width: 33.33333%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-5 {
  width: 41.66667%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-6 {
  width: 50%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-7 {
  width: 58.33333%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-8 {
  width: 66.66667%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-9 {
  width: 75%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-10 {
  width: 83.33333%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-11 {
  width: 91.66667%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-12 {
  width: 100%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

@media (max-width: 47.9375em) {
  .col-xs-1 {
    width: 8.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-2 {
    width: 16.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-3 {
    width: 25%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-4 {
    width: 33.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-5 {
    width: 41.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-6 {
    width: 50%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-7 {
    width: 58.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-8 {
    width: 66.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-9 {
    width: 75%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-10 {
    width: 83.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-11 {
    width: 91.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-12 {
    width: 100%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media (max-width: 61.1875em) {
  .col-sm-1 {
    width: 8.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-2 {
    width: 16.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-3 {
    width: 25%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-4 {
    width: 33.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-5 {
    width: 41.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-6 {
    width: 50%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-7 {
    width: 58.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-8 {
    width: 66.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-9 {
    width: 75%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-10 {
    width: 83.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-11 {
    width: 91.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-12 {
    width: 100%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media (min-width: 75em) {
  .col-lg-1 {
    width: 8.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-2 {
    width: 16.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-3 {
    width: 25%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-4 {
    width: 33.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-5 {
    width: 41.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-6 {
    width: 50%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-7 {
    width: 58.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-8 {
    width: 66.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-9 {
    width: 75%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-10 {
    width: 83.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-11 {
    width: 91.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-12 {
    width: 100%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media (min-width: 87.5em) {
  .col-xl-1 {
    width: 8.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-2 {
    width: 16.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-3 {
    width: 25%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-4 {
    width: 33.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-5 {
    width: 41.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-6 {
    width: 50%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-7 {
    width: 58.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-8 {
    width: 66.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-9 {
    width: 75%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-10 {
    width: 83.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-11 {
    width: 91.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-12 {
    width: 100%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

.offset-12 {
  margin-left: 100%;
}

@media (max-width: 47.9375em) {
  .offset-xs-0 {
    margin-left: 0%;
  }

  .offset-xs-1 {
    margin-left: 8.33333%;
  }

  .offset-xs-2 {
    margin-left: 16.66667%;
  }

  .offset-xs-3 {
    margin-left: 25%;
  }

  .offset-xs-4 {
    margin-left: 33.33333%;
  }

  .offset-xs-5 {
    margin-left: 41.66667%;
  }

  .offset-xs-6 {
    margin-left: 50%;
  }

  .offset-xs-7 {
    margin-left: 58.33333%;
  }

  .offset-xs-8 {
    margin-left: 66.66667%;
  }

  .offset-xs-9 {
    margin-left: 75%;
  }

  .offset-xs-10 {
    margin-left: 83.33333%;
  }

  .offset-xs-11 {
    margin-left: 91.66667%;
  }

  .offset-xs-12 {
    margin-left: 100%;
  }
}
@media (max-width: 61.1875em) {
  .offset-sm-0 {
    margin-left: 0%;
  }

  .offset-sm-1 {
    margin-left: 8.33333%;
  }

  .offset-sm-2 {
    margin-left: 16.66667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.33333%;
  }

  .offset-sm-5 {
    margin-left: 41.66667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.33333%;
  }

  .offset-sm-8 {
    margin-left: 66.66667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.33333%;
  }

  .offset-sm-11 {
    margin-left: 91.66667%;
  }

  .offset-sm-12 {
    margin-left: 100%;
  }
}
@media (min-width: 75em) {
  .offset-lg-0 {
    margin-left: 0%;
  }

  .offset-lg-1 {
    margin-left: 8.33333%;
  }

  .offset-lg-2 {
    margin-left: 16.66667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.33333%;
  }

  .offset-lg-5 {
    margin-left: 41.66667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.33333%;
  }

  .offset-lg-8 {
    margin-left: 66.66667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.33333%;
  }

  .offset-lg-11 {
    margin-left: 91.66667%;
  }

  .offset-lg-12 {
    margin-left: 100%;
  }
}
@media (min-width: 87.5em) {
  .offset-xl-0 {
    margin-left: 0%;
  }

  .offset-xl-1 {
    margin-left: 8.33333%;
  }

  .offset-xl-2 {
    margin-left: 16.66667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.33333%;
  }

  .offset-xl-5 {
    margin-left: 41.66667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.33333%;
  }

  .offset-xl-8 {
    margin-left: 66.66667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.33333%;
  }

  .offset-xl-11 {
    margin-left: 91.66667%;
  }

  .offset-xl-12 {
    margin-left: 100%;
  }
}
h1 {
  font-size: 1.875em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}

h4 {
  font-size: 1.125em;
  font-weight: bold;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

h6 {
  font-size: 0.875em;
  font-weight: bold;
}

ul li, ol li {
  margin-bottom: 5px;
}

ul li {
  position: relative;
  padding-left: 10px;
}
ul li::before {
  display: inline-block;
  width: 5px;
  height: 5px;
  text-align: center;
  line-height: 5px;
  content: " ";
  background: #777777;
  position: absolute;
  left: 0;
  top: 8px;
}

img {
  max-width: 100%;
}

[class*="float-"] {
  max-width: 46%;
}
[class*="float-"].float-l {
  margin: 0 15px 15px 0;
}
[class*="float-"].float-r {
  margin: 0 0 15px 15px;
}
@media (max-width: 30em) {
  [class*="float-"] {
    max-width: none;
    width: 100%;
  }
  [class*="float-"].float-l, [class*="float-"].float-r {
    margin: 0 0 10px 0;
  }
}
