@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
/*      basic elements
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  text-align: center;
  height: 100%;
}

body {
  background: #fff;
  color: #000;
  font-family: "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25;
}

a {
  color: #E84466;
  text-decoration: none;
  transition: all .35s ease;
}
a:hover, a:active, a.active {
  color: #BA006D;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

img {
  vertical-align: middle;
}

h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
  color: #0E303F;
}
h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
  color: #d35972;
}

h2, h3 {
  margin-top: 1.25em;
  margin-bottom: 0.625em;
}
h2 small, h3 small {
  font-size: 65%;
}

h4, h5, h6 {
  margin-top: 0.625em;
  margin-bottom: 0.625em;
}
h4 small, h5 small, h6 small {
  font-size: 75%;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
}

p {
  margin: 0 0 0.625em;
  line-height: 1.5;
}

small {
  font-size: 85%;
}

mark {
  background-color: #ffe7a0;
  padding: .2em;
}

hr {
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #f9f9f9;
}

ul, ol {
  margin-bottom: 10px;
}
ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0;
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.25;
}

.clearfix::after, .row::after, .form-group::after, .wrap::after, .products::after, .news::after, #header::after, #footer::after, #main::after {
  content: '';
  display: table;
  clear: both;
}

.full {
  width: 100%;
  max-width: 100%;
}

.half {
  width: 46.9%;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.circle, .goTop {
  border-radius: 50%;
}

.list-inline, .tab-switcher, .list-unstyled, #banner ul {
  list-style: none;
}

.list-inline, .tab-switcher {
  margin-left: -5px;
}
.list-inline > li, .tab-switcher > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.border, .thumb {
  border: 1px solid #E6E6E6;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

[class*="bg-"] {
  color: #fff;
}

.text-primary {
  color: #E84466;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #de1b44;
}

.bg-primary {
  background: #E84466;
  border-color: #e5296f;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #de1b44;
}

.text-muted {
  color: #777777;
}
a.text-muted:hover,
a.text-muted:focus {
  color: #5e5e5e;
}

.bg-muted {
  background: #777777;
  border-color: #686868;
}
a.bg-muted:hover,
a.bg-muted:focus {
  background-color: #5e5e5e;
}

.text-success {
  color: #8BC34A;
}
a.text-success:hover,
a.text-success:focus {
  color: #71a436;
}

.bg-success {
  background: #8BC34A;
  border-color: #90b33b;
}
a.bg-success:hover,
a.bg-success:focus {
  background-color: #71a436;
}

.text-info {
  color: #00BCD4;
}
a.text-info:hover,
a.text-info:focus {
  color: #008fa1;
}

.bg-info {
  background: #00BCD4;
  border-color: #00b5ac;
}
a.bg-info:hover,
a.bg-info:focus {
  background-color: #008fa1;
}

.text-warn {
  color: #FFC107;
}
a.text-warn:hover,
a.text-warn:focus {
  color: #d39e00;
}

.bg-warn {
  background: #FFC107;
  border-color: #e78700;
}
a.bg-warn:hover,
a.bg-warn:focus {
  background-color: #d39e00;
}

.text-error {
  color: #E51C23;
}
a.text-error:hover,
a.text-error:focus {
  color: #b9151b;
}

.bg-error {
  background: #E51C23;
  border-color: #cb173c;
}
a.bg-error:hover,
a.bg-error:focus {
  background-color: #b9151b;
}

legend {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.5em;
  line-height: inherit;
  border-bottom: 1px solid;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  padding-right: 5px;
  font-weight: bold;
  vertical-align: middle;
}
label[class*="col-"] {
  margin-bottom: 0;
}

input[type="radio"], input[type="checkbox"] {
  margin-top: 4px;
  margin-top: 1px \9;
  line-height: normal;
  cursor: pointer;
}

input[type="search"] {
  box-sizing: border-box;
}

input[type="file"], input[type="range"] {
  display: block;
}

input[type="range"] {
  width: 100%;
}

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

select[multiple], select[size] {
  height: auto;
}

button {
  background: none;
  border: none;
}

output {
  display: block;
  padding-top: 6px;
  font-size: 1em;
  line-height: 1.25;
  color: #555555;
}

.form-group {
  margin-bottom: 15px;
}

.form-element, input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  display: block;
  width: 100%;
  padding: 5px 5px;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-element::-moz-placeholder, input:not([type])::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="color"]::-moz-placeholder, textarea::-moz-placeholder, .form-element:-ms-input-placeholder, input:-ms-input-placeholder:not([type]), input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="color"]:-ms-input-placeholder, textarea:-ms-input-placeholder, .form-element::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999;
}
.form-element::-moz-placeholder, input:not([type])::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="color"]::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
}
.form-element:focus, input:focus:not([type]), input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus {
  border-color: #FFC107;
  outline: 0;
}
.form-element[disabled], input[disabled]:not([type]), input[disabled][type="text"], input[disabled][type="password"], input[disabled][type="date"], input[disabled][type="datetime"], input[disabled][type="datetime-local"], input[disabled][type="month"], input[disabled][type="week"], input[disabled][type="email"], input[disabled][type="number"], input[disabled][type="search"], input[disabled][type="tel"], input[disabled][type="time"], input[disabled][type="url"], input[disabled][type="color"], textarea[disabled], .form-element[readonly], input[readonly]:not([type]), input[readonly][type="text"], input[readonly][type="password"], input[readonly][type="date"], input[readonly][type="datetime"], input[readonly][type="datetime-local"], input[readonly][type="month"], input[readonly][type="week"], input[readonly][type="email"], input[readonly][type="number"], input[readonly][type="search"], input[readonly][type="tel"], input[readonly][type="time"], input[readonly][type="url"], input[readonly][type="color"], textarea[readonly], fieldset[disabled] .form-element, fieldset[disabled] input:not([type]), fieldset[disabled] input[type="text"], fieldset[disabled] input[type="password"], fieldset[disabled] input[type="date"], fieldset[disabled] input[type="datetime"], fieldset[disabled] input[type="datetime-local"], fieldset[disabled] input[type="month"], fieldset[disabled] input[type="week"], fieldset[disabled] input[type="email"], fieldset[disabled] input[type="number"], fieldset[disabled] input[type="search"], fieldset[disabled] input[type="tel"], fieldset[disabled] input[type="time"], fieldset[disabled] input[type="url"], fieldset[disabled] input[type="color"], fieldset[disabled] textarea {
  background-color: #eeeeee;
  opacity: 1;
}
.form-element[disabled], input[disabled]:not([type]), input[disabled][type="text"], input[disabled][type="password"], input[disabled][type="date"], input[disabled][type="datetime"], input[disabled][type="datetime-local"], input[disabled][type="month"], input[disabled][type="week"], input[disabled][type="email"], input[disabled][type="number"], input[disabled][type="search"], input[disabled][type="tel"], input[disabled][type="time"], input[disabled][type="url"], input[disabled][type="color"], textarea[disabled], fieldset[disabled] .form-element, fieldset[disabled] input:not([type]), fieldset[disabled] input[type="text"], fieldset[disabled] input[type="password"], fieldset[disabled] input[type="date"], fieldset[disabled] input[type="datetime"], fieldset[disabled] input[type="datetime-local"], fieldset[disabled] input[type="month"], fieldset[disabled] input[type="week"], fieldset[disabled] input[type="email"], fieldset[disabled] input[type="number"], fieldset[disabled] input[type="search"], fieldset[disabled] input[type="tel"], fieldset[disabled] input[type="time"], fieldset[disabled] input[type="url"], fieldset[disabled] input[type="color"], fieldset[disabled] textarea {
  cursor: not-allowed;
}

.form-element-inline,
.form-inline .form-element,
.form-inline input:not([type]),
.form-inline input[type="text"],
.form-inline input[type="password"],
.form-inline input[type="date"],
.form-inline input[type="datetime"],
.form-inline input[type="datetime-local"],
.form-inline input[type="month"],
.form-inline input[type="week"],
.form-inline input[type="email"],
.form-inline input[type="number"],
.form-inline input[type="search"],
.form-inline input[type="tel"],
.form-inline input[type="time"],
.form-inline input[type="url"],
.form-inline input[type="color"],
.form-inline textarea {
  display: inline-block !important;
  width: auto;
  margin-left: 7.5px;
  font-weight: normal;
}
.form-element-inline:first-child,
.form-inline .form-element:first-child,
.form-inline input:first-child:not([type]),
.form-inline input[type="text"]:first-child,
.form-inline input[type="password"]:first-child,
.form-inline input[type="date"]:first-child,
.form-inline input[type="datetime"]:first-child,
.form-inline input[type="datetime-local"]:first-child,
.form-inline input[type="month"]:first-child,
.form-inline input[type="week"]:first-child,
.form-inline input[type="email"]:first-child,
.form-inline input[type="number"]:first-child,
.form-inline input[type="search"]:first-child,
.form-inline input[type="tel"]:first-child,
.form-inline input[type="time"]:first-child,
.form-inline input[type="url"]:first-child,
.form-inline input[type="color"]:first-child,
.form-inline textarea:first-child {
  margin-left: 0;
}
@media (min-width: 30em) {
  .form-element-inline,
  .form-inline .form-element,
  .form-inline input:not([type]),
  .form-inline input[type="text"],
  .form-inline input[type="password"],
  .form-inline input[type="date"],
  .form-inline input[type="datetime"],
  .form-inline input[type="datetime-local"],
  .form-inline input[type="month"],
  .form-inline input[type="week"],
  .form-inline input[type="email"],
  .form-inline input[type="number"],
  .form-inline input[type="search"],
  .form-inline input[type="tel"],
  .form-inline input[type="time"],
  .form-inline input[type="url"],
  .form-inline input[type="color"],
  .form-inline textarea {
    display: block;
    margin-left: 0;
  }
}

.form-inline .form-group {
  display: inline-block;
  vertical-align: middle;
  margin: 3.75px 0;
  margin-right: 7.5px;
}

.form-horizontal .form-label, .form-horizontal .help-inline {
  line-height: 30px;
}
.form-horizontal .form-label {
  text-align: right;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"] {
  height: 30px;
}

.form-element.input-lg, input.input-lg:not([type]), input.input-lg[type="text"], input.input-lg[type="password"], input.input-lg[type="date"], input.input-lg[type="datetime"], input.input-lg[type="datetime-local"], input.input-lg[type="month"], input.input-lg[type="week"], input.input-lg[type="email"], input.input-lg[type="number"], input.input-lg[type="search"], input.input-lg[type="tel"], input.input-lg[type="time"], input.input-lg[type="url"], input.input-lg[type="color"], textarea.input-lg {
  height: 37px;
  font-size: 20px;
  line-height: 37px;
  padding: 5px 10px;
  border-radius: 5px;
}

.form-lg {
  font-size: 20px;
}
.form-lg .form-label, .form-lg .help-inline {
  line-height: 37px;
}
.form-lg .form-element, .form-lg input:not([type]), .form-lg input[type="text"], .form-lg input[type="password"], .form-lg input[type="date"], .form-lg input[type="datetime"], .form-lg input[type="datetime-local"], .form-lg input[type="month"], .form-lg input[type="week"], .form-lg input[type="email"], .form-lg input[type="number"], .form-lg input[type="search"], .form-lg input[type="tel"], .form-lg input[type="time"], .form-lg input[type="url"], .form-lg input[type="color"], .form-lg textarea {
  height: 37px;
  font-size: 20px;
  line-height: 37px;
  padding: 5px 10px;
  border-radius: 5px;
}

.form-element.input-sm, input.input-sm:not([type]), input.input-sm[type="text"], input.input-sm[type="password"], input.input-sm[type="date"], input.input-sm[type="datetime"], input.input-sm[type="datetime-local"], input.input-sm[type="month"], input.input-sm[type="week"], input.input-sm[type="email"], input.input-sm[type="number"], input.input-sm[type="search"], input.input-sm[type="tel"], input.input-sm[type="time"], input.input-sm[type="url"], input.input-sm[type="color"], textarea.input-sm {
  height: 27px;
  font-size: 13.6px;
  line-height: 27px;
  padding: 2px 3px;
  border-radius: 3px;
}

.form-sm {
  font-size: 13.6px;
}
.form-sm .form-group {
  margin-bottom: 7.5px;
}
.form-sm .form-label, .form-sm .help-inline {
  line-height: 27px;
}
.form-sm .form-element, .form-sm input:not([type]), .form-sm input[type="text"], .form-sm input[type="password"], .form-sm input[type="date"], .form-sm input[type="datetime"], .form-sm input[type="datetime-local"], .form-sm input[type="month"], .form-sm input[type="week"], .form-sm input[type="email"], .form-sm input[type="number"], .form-sm input[type="search"], .form-sm input[type="tel"], .form-sm input[type="time"], .form-sm input[type="url"], .form-sm input[type="color"], .form-sm textarea {
  height: 27px;
  font-size: 13.6px;
  line-height: 27px;
  padding: 2px 3px;
  border-radius: 3px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-sm, .input-group-sm input[type="date"], input[type="time"].input-sm, .input-group-sm input[type="time"], input[type="datetime-local"].input-sm, .input-group-sm input[type="datetime-local"], input[type="month"].input-sm, .input-group-sm input[type="month"] {
    line-height: 27px;
  }
  input[type="date"].input-lg, .input-group-lg input[type="date"], input[type="time"].input-lg, .input-group-lg input[type="time"], input[type="datetime-local"].input-lg, .input-group-lg input[type="datetime-local"], input[type="month"].input-lg, .input-group-lg input[type="month"] {
    line-height: 37px;
  }
}
*[disabled], .disabled {
  cursor: not-allowed;
}

.input-group {
  display: table;
  width: 100%;
  border-collapse: separate;
}
.input-group .input-addon, .input-group .form-control {
  display: table-cell;
}
.input-group .input-addon {
  height: 30px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  color: #555555;
  background: #eeeeee;
  border: 1px solid #ccc;
  padding: 0 3px;
}
.input-group .input-addon:first-child {
  border-right: 0;
  border-radius: 5px 0 0 5px;
}
.input-group .input-addon:last-child {
  border-left: 0;
  border-radius: 0 5px 5px 0;
}
.input-group .input-addon.btn:hover {
  background: #e2e2e2;
}
.input-group .form-control {
  border-radius: 0;
}
.input-group .form-control:first-child {
  border-radius: 5px 0 0 5px;
}
.input-group .form-control:last-child {
  border-radius: 0 5px 5px 0;
}

.checkbox {
  width: 100%;
  font-weight: normal;
  line-height: 16px;
  position: relative;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.checkbox input[type*="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
}
.checkbox input[type*="checkbox"] + span::before {
  display: inline-block;
  content: " ";
  width: 17px;
  height: 17px;
  border: 1px solid #ccc;
  background: #fff;
}
.checkbox input[type*="checkbox"] + span i {
  position: absolute;
  left: 0;
  top: 45%;
  transform: translateY(-50%);
  display: none;
}
.checkbox input[type*="checkbox"] + span small {
  margin-left: 5px;
}
.checkbox input[type*="checkbox"]:checked + span i {
  display: block;
}
.checkbox input[type*="checkbox"]:hover + span::before {
  border-color: #FFC107;
}
.checkbox.text-center input[type*="checkbox"] + span i {
  left: 53%;
  transform: translate(-50%, -50%);
}

.btn {
  display: inline-block;
  padding: 5px 5px;
  min-width: auto;
  background: #e8a656;
  border-radius: 5px;
  border: 2px solid #f2f2f2;
  position: relative;
  color: #fff;
  font-size: 16px;
  line-height: 1.01;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s;
}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:active, .btn.active {
  outline: 0;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: .65;
}

.btn-link {
  color: #E84466;
  transition: color 0.3s;
  padding: 0 !important;
}
.btn-link:hover {
  color: #BA006D;
}
.btn-link.text-primary {
  color: #E84466;
}
a.btn-link.text-primary:hover,
a.btn-link.text-primary:focus {
  color: #de1b44;
}
.btn-link.text-primary:hover, .btn-link.text-primary:active, .btn-link.text-primary.active {
  color: #e52d53;
}
a.btn-link.text-primary:hover, .btn-link.text-primary:active, .btn-link.text-primary.active:hover,
a.btn-link.text-primary:hover, .btn-link.text-primary:active, .btn-link.text-primary.active:focus {
  color: #c7183d;
}
.btn-link.text-muted {
  color: #777777;
}
a.btn-link.text-muted:hover,
a.btn-link.text-muted:focus {
  color: #5e5e5e;
}
.btn-link.text-muted:hover, .btn-link.text-muted:active, .btn-link.text-muted.active {
  color: #6a6a6a;
}
a.btn-link.text-muted:hover, .btn-link.text-muted:active, .btn-link.text-muted.active:hover,
a.btn-link.text-muted:hover, .btn-link.text-muted:active, .btn-link.text-muted.active:focus {
  color: #515151;
}
.btn-link.text-success {
  color: #8BC34A;
}
a.btn-link.text-success:hover,
a.btn-link.text-success:focus {
  color: #71a436;
}
.btn-link.text-success:hover, .btn-link.text-success:active, .btn-link.text-success.active {
  color: #7eb73d;
}
a.btn-link.text-success:hover, .btn-link.text-success:active, .btn-link.text-success.active:hover,
a.btn-link.text-success:hover, .btn-link.text-success:active, .btn-link.text-success.active:focus {
  color: #649130;
}
.btn-link.text-info {
  color: #00BCD4;
}
a.btn-link.text-info:hover,
a.btn-link.text-info:focus {
  color: #008fa1;
}
.btn-link.text-info:hover, .btn-link.text-info:active, .btn-link.text-info.active {
  color: #00a5bb;
}
a.btn-link.text-info:hover, .btn-link.text-info:active, .btn-link.text-info.active:hover,
a.btn-link.text-info:hover, .btn-link.text-info:active, .btn-link.text-info.active:focus {
  color: #007888;
}
.btn-link.text-warn {
  color: #FFC107;
}
a.btn-link.text-warn:hover,
a.btn-link.text-warn:focus {
  color: #d39e00;
}
.btn-link.text-warn:hover, .btn-link.text-warn:active, .btn-link.text-warn.active {
  color: #ecb100;
}
a.btn-link.text-warn:hover, .btn-link.text-warn:active, .btn-link.text-warn.active:hover,
a.btn-link.text-warn:hover, .btn-link.text-warn:active, .btn-link.text-warn.active:focus {
  color: #b98b00;
}
.btn-link.text-error {
  color: #E51C23;
}
a.btn-link.text-error:hover,
a.btn-link.text-error:focus {
  color: #b9151b;
}
.btn-link.text-error:hover, .btn-link.text-error:active, .btn-link.text-error.active {
  color: #d0181e;
}
a.btn-link.text-error:hover, .btn-link.text-error:active, .btn-link.text-error.active:hover,
a.btn-link.text-error:hover, .btn-link.text-error:active, .btn-link.text-error.active:focus {
  color: #a21318;
}

.btn-primary {
  background: #E84466;
  border-color: #e52d53;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active {
  background: #e52d53;
  border-color: #de1b44;
}

.btn-muted {
  background: #777777;
  border-color: #6a6a6a;
}
.btn-muted:hover, .btn-muted:active, .btn-muted.active {
  background: #6a6a6a;
  border-color: #5e5e5e;
}

.btn-success {
  background: #8BC34A;
  border-color: #7eb73d;
}
.btn-success:hover, .btn-success:active, .btn-success.active {
  background: #7eb73d;
  border-color: #71a436;
}

.btn-info {
  background: #00BCD4;
  border-color: #00a5bb;
}
.btn-info:hover, .btn-info:active, .btn-info.active {
  background: #00a5bb;
  border-color: #008fa1;
}

.btn-warn {
  background: #FFC107;
  border-color: #ecb100;
}
.btn-warn:hover, .btn-warn:active, .btn-warn.active {
  background: #ecb100;
  border-color: #d39e00;
}

.btn-error {
  background: #E51C23;
  border-color: #d0181e;
}
.btn-error:hover, .btn-error:active, .btn-error.active {
  background: #d0181e;
  border-color: #b9151b;
}

.btn-lg {
  font-size: 20px;
  line-height: 1.33;
  padding: 5px 10px;
}

.form-lg .btn {
  font-size: 20px;
  line-height: 1.33;
  padding: 5px 10px;
}

.btn-sm {
  font-size: 13.6px;
  line-height: 1.125;
  padding: 2px 3px;
}

.form-sm .btn {
  font-size: 13.6px;
  line-height: 1.125;
  padding: 2px 3px;
}

.tab-switcher {
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 45px;
}
.tab-switcher li {
  padding: 0;
}
.tab-switcher li a, .tab-switcher li span {
  display: block;
  border-bottom: 5px solid #fff;
  color: #000;
  letter-spacing: 0.1em;
  padding: 18px 40px;
}
.tab-switcher li a.current, .tab-switcher li span.current {
  color: #E84466;
  border-bottom-color: #e89024;
}
.tab-switcher li a:hover {
  color: #E84466;
  border-bottom-color: #e89024;
}

.tab-content {
  display: none;
}
.tab-content:nth-of-type(1) {
  display: block;
}

.thumb {
  max-width: 100%;
}
.thumb img {
  max-width: 100%;
}

.row, .form-group {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.col-1 {
  width: 8.33333%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-2 {
  width: 16.66667%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-3, .products .prolist .pro {
  width: 25%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-4 {
  width: 33.33333%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-5 {
  width: 41.66667%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-6 {
  width: 50%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-7 {
  width: 58.33333%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-8 {
  width: 66.66667%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-9 {
  width: 75%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-10 {
  width: 83.33333%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-11 {
  width: 91.66667%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-12 {
  width: 100%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

@media (max-width: 47.9375em) {
  .col-xs-1 {
    width: 8.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-2 {
    width: 16.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-3 {
    width: 25%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-4 {
    width: 33.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-5 {
    width: 41.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-6 {
    width: 50%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-7 {
    width: 58.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-8 {
    width: 66.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-9 {
    width: 75%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-10 {
    width: 83.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-11 {
    width: 91.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-12 {
    width: 100%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media (max-width: 61.1875em) {
  .col-sm-1 {
    width: 8.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-2 {
    width: 16.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-3 {
    width: 25%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-4 {
    width: 33.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-5 {
    width: 41.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-6 {
    width: 50%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-7 {
    width: 58.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-8 {
    width: 66.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-9 {
    width: 75%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-10 {
    width: 83.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-11 {
    width: 91.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-12 {
    width: 100%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media (min-width: 75em) {
  .col-lg-1 {
    width: 8.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-2 {
    width: 16.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-3 {
    width: 25%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-4 {
    width: 33.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-5 {
    width: 41.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-6 {
    width: 50%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-7 {
    width: 58.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-8 {
    width: 66.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-9 {
    width: 75%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-10 {
    width: 83.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-11 {
    width: 91.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-12 {
    width: 100%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media (min-width: 87.5em) {
  .col-xl-1 {
    width: 8.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-2 {
    width: 16.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-3 {
    width: 25%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-4 {
    width: 33.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-5 {
    width: 41.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-6 {
    width: 50%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-7 {
    width: 58.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-8 {
    width: 66.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-9 {
    width: 75%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-10 {
    width: 83.33333%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-11 {
    width: 91.66667%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-12 {
    width: 100%;
    float: left;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

.offset-12 {
  margin-left: 100%;
}

@media (max-width: 47.9375em) {
  .offset-xs-0 {
    margin-left: 0%;
  }

  .offset-xs-1 {
    margin-left: 8.33333%;
  }

  .offset-xs-2 {
    margin-left: 16.66667%;
  }

  .offset-xs-3 {
    margin-left: 25%;
  }

  .offset-xs-4 {
    margin-left: 33.33333%;
  }

  .offset-xs-5 {
    margin-left: 41.66667%;
  }

  .offset-xs-6 {
    margin-left: 50%;
  }

  .offset-xs-7 {
    margin-left: 58.33333%;
  }

  .offset-xs-8 {
    margin-left: 66.66667%;
  }

  .offset-xs-9 {
    margin-left: 75%;
  }

  .offset-xs-10 {
    margin-left: 83.33333%;
  }

  .offset-xs-11 {
    margin-left: 91.66667%;
  }

  .offset-xs-12 {
    margin-left: 100%;
  }
}
@media (max-width: 61.1875em) {
  .offset-sm-0 {
    margin-left: 0%;
  }

  .offset-sm-1 {
    margin-left: 8.33333%;
  }

  .offset-sm-2 {
    margin-left: 16.66667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.33333%;
  }

  .offset-sm-5 {
    margin-left: 41.66667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.33333%;
  }

  .offset-sm-8 {
    margin-left: 66.66667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.33333%;
  }

  .offset-sm-11 {
    margin-left: 91.66667%;
  }

  .offset-sm-12 {
    margin-left: 100%;
  }
}
@media (min-width: 75em) {
  .offset-lg-0 {
    margin-left: 0%;
  }

  .offset-lg-1 {
    margin-left: 8.33333%;
  }

  .offset-lg-2 {
    margin-left: 16.66667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.33333%;
  }

  .offset-lg-5 {
    margin-left: 41.66667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.33333%;
  }

  .offset-lg-8 {
    margin-left: 66.66667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.33333%;
  }

  .offset-lg-11 {
    margin-left: 91.66667%;
  }

  .offset-lg-12 {
    margin-left: 100%;
  }
}
@media (min-width: 87.5em) {
  .offset-xl-0 {
    margin-left: 0%;
  }

  .offset-xl-1 {
    margin-left: 8.33333%;
  }

  .offset-xl-2 {
    margin-left: 16.66667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.33333%;
  }

  .offset-xl-5 {
    margin-left: 41.66667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.33333%;
  }

  .offset-xl-8 {
    margin-left: 66.66667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.33333%;
  }

  .offset-xl-11 {
    margin-left: 91.66667%;
  }

  .offset-xl-12 {
    margin-left: 100%;
  }
}
/*      layout
-----------------------------------------------------------------------*/
#wrapper, #header, #footer, #main {
  position: relative;
}

.wrap, .products, .news {
  max-width: 1440px;
  margin: 0 auto;
}

.wrap, .products, .news, #header, #footer, #main {
  min-width: 1008px;
}

#wrapper {
  min-height: 100%;
  padding-bottom: 452px;
}

.wrap, .products, .news {
  padding: 0 20px;
}

#header {
  height: 126px;
  z-index: 1;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12);
}
#header .wrap, #header .products, #header .news {
  position: relative;
  height: 126px;
}
#header .logo {
  height: 66px;
  width: 330px;
  font-size: 1em;
  font-weight: normal;
  position: absolute;
  left: 35px;
  top: 30px;
  z-index: 50;
}
#header .logo a {
  font: 0/0 a;
  text-indent: -9999px;
  display: block;
  height: 100%;
  background: url(../images/logo.gif) left center no-repeat;
}

#menu {
  position: absolute;
  right: 20px;
  bottom: 0;
}
#menu a {
  display: inline-block;
  height: 80px;
  color: #000;
  font-size: 1.125em;
  position: relative;
  padding: 20px 25px;
}
#menu a::after {
  content: "";
  display: block;
  width: 13px;
  height: 8px;
  position: absolute;
  font-family: 'icomoon';
  font-size: 0.8em;
  color: #ccc;
  left: 50%;
  top: -100px;
  transform: translateX(-50%);
  transition: top 0.3s;
}
#menu a:hover, .AboutUs #menu a:nth-of-type(1), .News #menu a:nth-of-type(2), .Products #menu a:nth-of-type(3), .QA #menu a:nth-of-type(4), .ContactUs #menu a:nth-of-type(5), .History #menu a:nth-of-type(6) {
  color: #666;
}
#menu a:hover::after, .AboutUs #menu a:nth-of-type(1)::after, .News #menu a:nth-of-type(2)::after, .Products #menu a:nth-of-type(3)::after, .QA #menu a:nth-of-type(4)::after, .ContactUs #menu a:nth-of-type(5)::after, .History #menu a:nth-of-type(6)::after {
  top: 48px;
}

.topNav {
  position: absolute;
  top: 0;
  right: 20px;
}
.topNav li {
  display: block;
  float: left;
  padding: 0 0 0 4px;
}
.topNav li a {
  display: block;
  width: 65px;
  height: 47px;
  background: #EFEFEF;
}
.topNav li a span {
  display: none;
}
.topNav li a i {
  font-size: 2.3125em;
  color: #666;
  line-height: 53px;
}
.topNav li a:hover {
  background: #E89024;
}
.topNav li a:hover i {
  color: #fff;
}
.topNav li.hello {
  padding-top: 12px;
  padding-right: 10px;
}
.topNav li.hello a {
  background: none;
  display: inline;
}
.topNav li.cart a {
  position: relative;
}
.topNav li.cart a i {
  font-size: 2.09375em;
  line-height: 1;
  position: absolute;
  left: 10px;
  top: 12px;
}
.topNav li.cart a em {
  display: block;
  min-width: 20px;
  height: 20px;
  background: #E89024;
  border-radius: 10px;
  font: normal 13px/20px "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 8px;
  padding: 0 5px;
}
.topNav li.cart a:hover em {
  background: #8BC34A;
}

#footer {
  background: #333333;
  margin-top: -452px;
  height: 452px;
  z-index: 2;
  color: #F2F2F2;
  text-align: left;
  padding: 45px 0;
}
#footer h2.title {
  font-size: 1.25em;
  font-weight: bold;
  color: #EFEFEF;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-bottom: 1px solid #4D4D4D;
  margin-bottom: 22px;
}
#footer h2.title span {
  background: #333333;
}
#footer .about, #footer .info, #footer .contact {
  width: 40%;
  float: left;
  padding-right: 50px;
}
#footer .about {
  font-size: 0.9375em;
}
#footer .info li {
  margin-right: 34px;
  margin-bottom: 22px;
}
#footer .info li a {
  color: #B3B3B3;
  font-weight: bold;
}
#footer .info li a:hover {
  color: #E89024;
}
#footer .contact {
  font-size: 0.9375em;
  margin-bottom: 35px;
}
#footer .contact li {
  margin-bottom: 12px;
}
#footer .contact li strong {
  font-size: 1.46667em;
  color: #E89024;
}
#footer .contact li strong:first-child {
  margin-right: 30px;
}

.copyright {
  clear: both;
  border-top: 1px solid #4d4d4d;
  font-size: 0.75em;
  color: #666;
  padding-top: 15px;
}

.goTop {
  position: fixed;
  right: 1%;
  bottom: 1%;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: none;
  background: #E84466;
  font-size: 0.75em;
  color: #fff;
  opacity: 0.5;
  z-index: 70;
  transition: opacity 0.3s;
}
.goTop:hover, .goTop:active {
  opacity: 1;
  color: #fff;
}

#banner {
  height: 320px;
  margin-bottom: 28px;
}
#banner ul {
  height: 320px;
}
#banner ul li {
  height: 100%;
  position: relative;
  overflow: hidden;
}
#banner ul li h2.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  font-size: 3.4375em;
  position: relative;
  z-index: 90;
  margin: 200px 0 0 0;
}
#banner ul li img {
  width: 1360px;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -680px;
  z-index: 4;
}

.products {
  margin-bottom: 35px;
}
.products .prolist .pro {
  margin-bottom: 40px;
}

.search {
  margin-bottom: 40px;
}
.search .search-form .btn {
  width: 100%;
}

.sell-info {
  background: #e8a656;
  margin-bottom: 60px;
  padding: 20px 0;
}
.sell-info ul {
  margin-bottom: 0;
}
.sell-info li {
  font-size: 2em;
  margin-bottom: 0;
}
.sell-info li a {
  display: block;
  height: 125px;
  border-right: 1px solid #ffc98c;
  color: #333333;
  position: relative;
  padding: 58px 0 0 0;
}
.sell-info li a i {
  display: block;
  width: 47px;
  height: 47px;
  font-size: 1.25em;
  color: #f2f2f2;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  transition: left 0.3s, top 0.3s, transform 0.3s;
}
.sell-info li a em {
  display: block;
  width: 100%;
  height: 1em;
  font-size: 0.4375em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.1em;
  margin-top: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}
.sell-info li a:hover {
  text-align: left;
  padding: 30px 0 0 190px;
}
.sell-info li a:hover i {
  color: #FFF56E;
  left: 90px;
  top: 60%;
  transform: translateY(-50%) scale(2);
}
.sell-info li a:hover em {
  opacity: 1;
}
.sell-info li:nth-of-type(2) a:hover i {
  background-position: center -448px;
}
.sell-info li:nth-of-type(3) a {
  border: 0;
}
.sell-info li:nth-of-type(3) a:hover i {
  background-position: center -960px;
}

.news {
  text-align: left;
}
.news h2.title {
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 45px;
  padding-bottom: 20px;
}
.news article {
  margin-bottom: 105px;
  padding-left: 60px;
}
.news article:nth-of-type(1) {
  padding-left: 7.5px;
}
.news .pic {
  width: 250px;
  float: left;
  margin-right: 15px;
}
.news .pic img {
  max-width: 100%;
  border-radius: 5px;
}
.news h3.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 265px);
  font-size: 1em;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
.news h3.title em {
  display: block;
  color: #E84466;
  font-size: 0.8125em;
  font-style: normal;
  letter-spacing: 0;
  margin-bottom: 10px;
}
.news p {
  font-size: 0.8125em;
  color: #808080;
  letter-spacing: 0.1em;
}
.news .btn {
  float: right;
}

.brand {
  background: #f2f2f2;
  padding: 30px 0;
}
.brand #marquee {
  width: 100%;
  height: 65px;
  margin: 0 auto;
  padding: 0 45px;
}
.brand #marquee li {
  width: 135px;
  height: 100%;
  background: #fff;
}
.brand #marquee li img {
  height: 100%;
}
.brand #marquee .prev, .brand #marquee .next {
  width: 40px;
  height: 100%;
  color: #ccc;
  background: #f2f2f2;
  top: 0;
  margin: 0;
}
.brand #marquee .prev::before, .brand #marquee .next::before {
  content: "";
  display: block;
  width: 10px;
  height: 17px;
  position: absolute;
  font-family: 'icomoon';
  top: 50%;
  transform: translateY(-50%);
}
.brand #marquee .prev:hover::before, .brand #marquee .next:hover::before {
  color: #E84466;
}
.brand #marquee .prev {
  left: 0;
}
.brand #marquee .prev::before {
  right: 50%;
}
.brand #marquee .next {
  right: 0;
}
.brand #marquee .next::before {
  left: 50%;
  content: '\e903';
}
