@charset "UTF-8";

// make-content
@mixin content($content:'', $display: block, $position: absolute, $width: 100%, $height:$width) {
    content:$content;
    display: $display;
    width: $width;
    height: $height;
    position: $position;
}

// Sizing 只輸入一個值時是正方形
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

// 做圓形
@mixin circle($size, $align:center, $display:inline-block) {
    display: $display;

    @extend %circle;
    @include size($size);

    @if $align == "center" {
        text-align: center;
        line-height: $size;
    }
}

// 做三角形
@mixin caret($dir, $width, $height:$width/2, $color: inherit, $display:inline-block) {
    content: '';
    display: $display;
    border: $width/2 solid transparent;

    @include size(0);

    @if $dir == "up" {
        border-bottom-color:$color;
        border-bottom-width:$height;
        border-top-width:0;
    }
    @else if $dir == "down" {
        border-top-color:$color;
        border-top-width:$height;
        border-bottom-width:0;
    }
    @else if $dir == "left" {
        border-right-color:$color;
        border-right-width:$height;
        border-left-width:0;
    }
    @else if $dir == "right" {
        border-left-color:$color;
        border-left-width:$height;
        border-right-width:0;
    }
}

// 用偽類做三角形
@mixin arrow($dir:right, $width:5px, $height: $width, $color: inherit, $display:inline-block) {
    content: '';
    display: $display;
    border: $width solid transparent;

    @include size(0);

    @if ($dir == "top" or $dir =="up") {
        border-bottom: $height solid $color;

        @if $height != $width {
            border-top-width: $height;
        }
    }
    @else if ($dir == "bottom" or $dir == "down") {
        border-top: $height solid $color;

        @if $height != $width {
            border-bottom-width: $height;
        }
    }
    @else if ($dir == "right") {
        border-left: $height solid $color;

        @if $height != $width {
            border-right-width: $height;
        }
    }
    @else if ($dir == "left") {
        border-right: $width solid $color;

        @if $height != $width {
            border-left-width: $height;
        }
    }
}