@charset "UTF-8";

//
// Tabs
// --------------------------------------------------

.tab-switcher {
    @extend .list-inline;
    
    border-bottom:1px solid #E6E6E6;
    margin-bottom:45px;

    li {
        padding:0;

        a, span {
            display: block;
            border-bottom:5px solid #fff;

            color:$text-color;
            letter-spacing: 0.1em;

            padding:18px 40px;

            &.current {
                color:$brand-primary;
                border-bottom-color:#e89024;
            }
        }

        a:hover {
            color:$brand-primary;
            border-bottom-color:#e89024;
        }
    }
}

.tab-content {
    display:none;
    &:nth-of-type(1) {display:block;}
}