@{
    ViewBag.Title = "客戶基本資料";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.BodyClass = "ch1 p1";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 生產紀錄</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<h4 class="title">By Ajoe</h4>