@{
    ViewBag.Title = "客戶基本資料";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.BodyClass = "ch1 p1";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 生產紀錄</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<h4 class="title">客戶基本資料列表</h4>

<div class="table-responsive">

    <div class="table-header">
        <div class="table-filter">
            <div class="form-inline">
                <div class="form-group">
                    <label for="">客戶名稱/身分證號/電話</label>
                    <input type="text" class="form-control input-sm" placeholder="請擇一填寫" />
                </div>
                
                <div class="form-group">
                    <label for="">客戶分類</label>
                    <select class="form-control input-sm">
                        <option value="">全部</option>
                        <option value="">自有客戶</option>
                        <option value="">醫院</option>
                        <option value="">月子中心</option>
                        <option value="">轉介</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">送餐地址</label>
                    <select class="form-control input-sm">
                        <option value="">全部縣市</option>
                        <option value="">台北市</option>
                        <option value="">新北市</option>
                    </select>
                    <select class="form-control input-sm">
                        <option value="">全部鄉鎮市區</option>
                        <option value="">大安區</option>
                        <option value="">大同區</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn-primary btn-sm"><i class="fa-search"></i> 搜尋</button>
                </div>
            </div>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th class="col-xs-1 text-center">
                    <label class="cbox">
                        <input type="checkbox">
                        <i class="fa-check"></i>
                    </label>
                </th>
                <th class="col-xs-1 text-center">修改</th>
                <th class="col-xs-2">客戶名稱</th>
                <th class="col-xs-1">客戶分類</th>
                <th class="col-xs-2">身分證號</th>
                <th class="col-xs-4">送餐地址</th>
                <th class="col-xs-1">電話1</th>
                <th class="col-xs-1">電話2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    <label class="cbox">
                        <input type="checkbox">
                        <i class="fa-check"></i>
                    </label>
                </td>
                <td class="text-center">
                    <a href="~/Fake/Birth_2"><button class="btn-link btn-lg"><i class="fa-pencil"></i></button></a>
                </td>
                <td>陳小姐</td>
                <td><span class="label label-primary">自有客戶</span></td>
                <td>A123456789</td>
                <td>基隆市仁愛區</td>
                <td>0912345678</td>
                <td>034567890</td>
            </tr>
            <tr>
                <td class="text-center">
                    <label class="cbox">
                        <input type="checkbox">
                        <i class="fa-check"></i>
                    </label>
                </td>
                <td class="text-center">
                    <a href="~/Fake/Birth_2"><button class="btn-link btn-lg"><i class="fa-pencil"></i></button></a>
                </td>
                <td>宏其醫院</td>
                <td><span class="label label-success">醫院</span></td>
                <td></td>
                <td>基隆市仁愛區</td>
                <td>0912345678</td>
                <td>034567890</td>
            </tr>
            <tr>
                <td class="text-center">
                    <label class="cbox">
                        <input type="checkbox">
                        <i class="fa-check"></i>
                    </label>
                </td>
                <td class="text-center">
                    <a href="~/Fake/Birth_2"><button class="btn-link btn-lg"><i class="fa-pencil"></i></button></a>
                </td>
                <td>安其月子中心</td>
                <td><span class="label label-warning">月子中心</span></td>
                <td></td>
                <td>基隆市仁愛區</td>
                <td>0912345678</td>
                <td>034567890</td>
            </tr>
            <tr>
                <td class="text-center">
                    <label class="cbox">
                        <input type="checkbox">
                        <i class="fa-check"></i>
                    </label>
                </td>
                <td class="text-center">
                    <a href="~/Fake/Birth_2"><button class="btn-link btn-lg"><i class="fa-pencil"></i></button></a>
                </td>
                <td>好婆婆桃園店</td>
                <td><span class="label label-info">轉介</span></td>
                <td></td>
                <td>基隆市仁愛區</td>
                <td>0912345678</td>
                <td>034567890</td>
            </tr>
        </tbody>
    </table>

    <div class="table-footer">
        <div class="pull-left">
            <a href="~/Fake/Birth_2"><button class="btn-link text-success"><i class="fa-plus-circle"></i> 新增</button></a>
            <button class="btn-link text-danger"><i class="fa-trash-o"></i> 刪除</button>
        </div>
        <small class="pull-right">第1-3筆，共3筆</small>
        <ul class="pager">
            <li class="disabled"><a href="" title="第一頁"><i class="fa-angle-double-left"></i></a></li>
            <li class="disabled"><a href="" title="上一頁"><i class="fa-angle-left"></i></a></li>
            <li class="form-inline">
                <div class="form-group">
                    <label for="">第</label>
                    <input type="text" class="form-control text-center" value="1" style="width:50px;">
                    <label for="">頁，共3頁</label>
                </div>
            </li>
            <li><a href="" title="下一頁"><i class="fa-angle-right"></i></a></li>
            <li><a href="" title="最後一頁"><i class="fa-angle-double-right"></i></a></li>
        </ul>
    </div>
</div><!-- 後台常用列表 //-->