@{
    ViewBag.Title = "每日菜單 管理";
    ViewBag.BodyClass = "ch5 p4";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 菜單管理</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<h4 class="title">By Ajoe</h4>