@{
    ViewBag.Title = "活動基本資料 管理";
    ViewBag.BodyClass = "ch6 p1";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 禮品發放</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<h4 class="title">活動基本資料列表</h4>

<div class="table-responsive">

    <div class="table-header">
        <div class="table-filter">
            <div class="form-inline">
            	<div class="form-group">
                    <label for="">活動名稱</label>
                    <input type="text" class="form-control input-sm" />
                </div>
            	<div class="form-group">
                    <label for="">日期</label>
                    <span class="has-feedback">
                        <input type="text" class="form-control input-sm datetimepicker" style="width:130px;" />
                        <i class="fa-calendar form-control-feedback"></i>
                    </span>
                    <label for="">~</label>
                    <span class="has-feedback">
                        <input type="text" class="form-control input-sm datetimepicker" style="width:130px;" />
                        <i class="fa-calendar form-control-feedback"></i>
                    </span>
                </div>
                <div class="form-group">
                    <label for="">狀態</label>
                    <select class="form-control input-sm">
                        <option value="">全部</option>
                        <option value="">啟用</option>
                        <option value="">停用</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn-primary btn-sm"><i class="fa-search"></i> 搜尋</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table-condensed">
        <thead>
            <tr>
                <th class="col-xs-1 text-center">
                    <label class="cbox">
                        <input type="checkbox">
                        <i class="fa-check"></i>
                    </label>
                </th>
                <th class="col-xs-1 text-center">修改</th>
                <th class="col-xs-3">活動名稱</th>
                <th class="col-xs-2">活動起日</th>
                <th class="col-xs-2">活動迄日</th>
                <th class="col-xs-3">狀態</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    <label class="cbox">
                        <input type="checkbox">
                        <i class="fa-check"></i>
                    </label>
                </td>
                <td class="text-center">
                    <a href="~/Fake/Gift_2"><button class="btn-link btn-lg"><i class="fa-pencil"></i></button></a>
                </td>
                <td>XXX</td>
                <td>2015/00/00</td>
                <td>2015/00/00</td>
                <td><span class="label label-primary">啟用</span></td>
            </tr>
            <tr>
                <td class="text-center">
                    <label class="cbox">
                        <input type="checkbox">
                        <i class="fa-check"></i>
                    </label>
                </td>
                <td class="text-center">
                    <a href="~/Fake/Gift_2"><button class="btn-link btn-lg"><i class="fa-pencil"></i></button></a>
                </td>
                <td>XXX</td>
                <td>2015/00/00</td>
                <td>2015/00/00</td>
                <td><span class="label label-default">停用</span></td>
            </tr>
        </tbody>
    </table>

    <div class="table-footer">
        <div class="pull-left">
            <a href="~/Fake/Gift_2"><button class="btn-link text-success"><i class="fa-plus-circle"></i> 新增</button></a>
            <button class="btn-link text-danger"><i class="fa-trash-o"></i> 刪除</button>
        </div>
        <small class="pull-right">第1-3筆，共3筆</small>
        <ul class="pager">
            <li class="disabled"><a href="" title="第一頁"><i class="fa-angle-double-left"></i></a></li>
            <li class="disabled"><a href="" title="上一頁"><i class="fa-angle-left"></i></a></li>
            <li class="form-inline">
                <div class="form-group">
                    <label for="">第</label>
                    <input type="text" class="form-control text-center" value="1" style="width:50px;">
                    <label for="">頁，共3頁</label>
                </div>
            </li>
            <li><a href="" title="下一頁"><i class="fa-angle-right"></i></a></li>
            <li><a href="" title="最後一頁"><i class="fa-angle-double-right"></i></a></li>
        </ul>
    </div>
</div><!-- 後台常用列表 //-->