@{
    ViewBag.Title = "禮品贈送紀錄 管理";
    ViewBag.BodyClass = "ch6 p2";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 禮品發放</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<h4 class="title">By Ajoe</h4>