@{
    ViewBag.Title = "活動基本資料 管理";
    ViewBag.BodyClass = "ch6 p1";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 禮品發放</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<h4 class="title">活動基本資料編輯</h4>

<form class="form-horizontal clearfix" role="form" action="~/Fake/Gift">
	<div class="col-xs-9">
		<div class="form-group">
			<label class="col-xs-2 control-label">活動名稱</label>
			<div class="col-xs-4">
				<input type="text" class="form-control" />
			</div>
			<small class="help-inline col-xs-6 text-danger">(必填)</small>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">活動日期</label>
			<div class="col-xs-4">
				<span class="has-feedback">
					<input type="text" class="form-control datetimepicker" />
					<i class="fa-calendar form-control-feedback"></i>
				</span>
			</div>
			<label class="control-label pull-left">~</label>
			<div class="col-xs-4">
				<span class="has-feedback">
					<input type="text" class="form-control datetimepicker" />
					<i class="fa-calendar form-control-feedback"></i>
				</span>
			</div>
			<small class="help-inline col-xs-1 text-danger">(必填)</small>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">狀態</label>
			<div class="col-xs-4">
				<div class="radio-inline">
					<label>
						<input type="radio" name="radio-test2" checked>
						<span>啟用</span>
					</label>
				</div>
				<div class="radio-inline">
					<label>
						<input type="radio" name="radio-test2">
						<span>停用</span>
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">排序</label>
			<div class="col-xs-4">
				<input type="text" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">活動說明</label>
			<div class="col-xs-8">
				<textarea class="form-control" row="5"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">備註</label>
			<div class="col-xs-8">
				<textarea class="form-control" row="3"></textarea>
			</div>
		</div>
		<div class="form-action text-right">
			<button class="btn-primary"><i class="fa-check"></i> 存檔確認</button>
			<button><i class="fa-times"></i> 回列表</button>
		</div>
	</div>
</form>