@{
    ViewBag.Title = "每日菜單報表";
    ViewBag.BodyClass = "ch9 p1";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 報表列印作業</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<h4 class="title">By Ajoe</h4>