@{
    ViewBag.Title = "每日菜單報表";
    ViewBag.BodyClass = "ch9 p1";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 報表列印作業</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<div class="table-header">
	<div class="table-filter">
		<div class="form-inline">
			<div class="form-group">
				<label for="">選擇日期</label>
				<span class="has-feedback">
					<input type="text" class="form-control input-sm datetimepicker" />
					<i class="fa-calendar form-control-feedback"></i>
				</span>
			</div>
			<button class="btn-success btn-sm"><i class="fa-print"></i> 列印</button>
		</div>
	</div>
</div>
<table>
	<tr class="success">
		<td>當日事項</td>
	</tr>
	<tr>
		<td>停早(2)：<span class="label label-success">A001</span></td>
	</tr>
</table>