@{
    ViewBag.Title = "每日菜單報表";
    ViewBag.BodyClass = "ch9 p1";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 報表列印作業</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<div class="table-header">
	<div class="table-filter">
		<div class="form-inline">
			<div class="form-group">
				<label for="">選擇日期</label>
				<span class="has-feedback">
					<input type="text" class="form-control input-sm datetimepicker" />
					<i class="fa-calendar form-control-feedback"></i>
				</span>
			</div>
			<button class="btn-success btn-sm"><i class="fa-print"></i> 列印</button>
		</div>
	</div>
</div>
<hr />
<h4 class="title">2015/11/11</h4>
<table>
	<tr class="success">
		<td><strong>當日事項</strong></td>
	</tr>
	<tr>
		<td>停早(2)：<span class="label label-success">A001</span>　停午(2)：<span class="label label-success">A001</span>　停晚(2)：<span class="label label-success">A001</span></td>
	</tr>
	<tr>
		<td>早開始(2)：<span class="label label-success">A001</span>　午開始(2)：<span class="label label-success">A001</span>　晚開始(2)：<span class="label label-success">A001</span></td>
	</tr>
	<tr>
		<td>早結束(2)：<span class="label label-success">A001</span>　午結束(2)：<span class="label label-success">A001</span>　晚結束(2)：<span class="label label-success">A001</span></td>
	</tr>
</table>
<hr />
<table>
	<tr class="danger">
		<td><strong>特殊飲食</strong></td>
	</tr>
	<tr>
		<td>去油(2)：<span class="label label-danger">A001</span>　清淡(2)：<span class="label label-danger">A001</span>　蛋奶素(2)：<span class="label label-danger">A001</span></td>
	</tr>
</table>
<hr />
<table>
	<tr class="warning">
		<td colspan="2"><strong>早餐</strong></td>
	</tr>
	<tr>
		<td><strong>麻油雞</strong></td>
		<td>不薑(2)：<span class="label label-warning">A001</span>　不酒(2)：<span class="label label-warning">A001</span></td>
	</tr>
	<tr>
		<td><strong>麻油雞</strong></td>
		<td>不薑(2)：<span class="label label-warning">A001</span>　不酒(2)：<span class="label label-warning">A001</span></td>
	</tr>
</table>
<hr />
<table>
	<tr class="warning">
		<td colspan="2"><strong>午餐</strong></td>
	</tr>
	<tr>
		<td><strong>麻油雞</strong></td>
		<td>不薑(2)：<span class="label label-warning">A001</span>　不酒(2)：<span class="label label-warning">A001</span></td>
	</tr>
	<tr>
		<td><strong>麻油雞</strong></td>
		<td>不薑(2)：<span class="label label-warning">A001</span>　不酒(2)：<span class="label label-warning">A001</span></td>
	</tr>
</table>
<hr />
<table>
	<tr class="warning">
		<td colspan="2"><strong>晚餐</strong></td>
	</tr>
	<tr>
		<td><strong>麻油雞</strong></td>
		<td>不薑(2)：<span class="label label-warning">A001</span>　不酒(2)：<span class="label label-warning">A001</span></td>
	</tr>
	<tr>
		<td><strong>麻油雞</strong></td>
		<td>不薑(2)：<span class="label label-warning">A001</span>　不酒(2)：<span class="label label-warning">A001</span></td>
	</tr>
</table>