@{
    ViewBag.Title = "需求元素 管理";
    ViewBag.BodyClass = "ch3 p1";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 需求表</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<h4 class="title">需求元素編輯</h4>

<form class="form-horizontal clearfix" role="form" action="~/Fake/Require">
	<div class="col-xs-9">
		<div class="form-group">
			<label class="col-xs-2 control-label">名稱</label>
			<div class="col-xs-4">
				<input type="text" class="form-control" />
			</div>
			<small class="help-inline col-xs-6 text-danger">(必填)</small>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">簡稱</label>
			<div class="col-xs-4">
				<input type="text" class="form-control" />
			</div>
			<small class="help-inline col-xs-6"><span class="text-danger">(必填)</span> 列印"每日菜單報表"時使用</small>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">元素對應</label>
			<div class="col-xs-4">
				<div class="radio-inline">
					<label>
						<input type="radio" name="radio-test" checked>
						<span>有對應</span>
					</label>
				</div>
				<div class="radio-inline">
					<label>
						<input type="radio" name="radio-test">
						<span>無對應</span>
					</label>
				</div>
			</div>
			<small class="help-inline col-xs-6">此需求是否用來描述特定菜色</small>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">適用餐別</label>
			<div class="col-xs-4">
				<div class="checkbox-inline">
					<label>
						<input type="checkbox" name="check-test" checked>
						<span>早餐</span>
					</label>
				</div>
				<div class="checkbox-inline">
					<label>
						<input type="checkbox" name="check-test" checked>
						<span>午餐</span>
					</label>
				</div>
				<div class="checkbox-inline">
					<label>
						<input type="checkbox" name="check-test" checked>
						<span>晚餐</span>
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">狀態</label>
			<div class="col-xs-4">
				<div class="radio-inline">
					<label>
						<input type="radio" name="radio-test2" checked>
						<span>啟用</span>
					</label>
				</div>
				<div class="radio-inline">
					<label>
						<input type="radio" name="radio-test2">
						<span>停用</span>
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">排序</label>
			<div class="col-xs-4">
				<input type="text" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">備註</label>
			<div class="col-xs-10">
				<textarea class="form-control" row="3"></textarea>
			</div>
		</div>
		<div class="form-action text-right">
			<button class="btn-primary"><i class="fa-check"></i> 存檔確認</button>
			<button><i class="fa-times"></i> 回列表</button>
		</div>
	</div>
</form>