@{
    ViewBag.Title = "需求元素 管理";
    ViewBag.BodyClass = "ch3 p1";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 需求表</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<h4 class="title">需求元素編輯</h4>

<form class="form-horizontal clearfix" role="form" action="~/Fake/Birth">
	<div class="col-xs-9">
		<div class="form-group">
			<label class="col-xs-2 control-label">客戶編號</label>
			<div class="col-xs-3">
				<input type="text" class="form-control" disabled />
			</div>
			<small class="help-inline col-xs-7">系統自動產生，無法修改</small>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">客戶分類</label>
			<div class="col-xs-3">
				<select class="form-control" name="" id="">
					<option value="">自有客戶</option>
					<option value="">醫院</option>
					<option value="">月子中心</option>
					<option value="">轉介</option>
				</select>
			</div>
			<small class="help-inline col-xs-7 text-danger">(必填)</small>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">客戶名稱</label>
			<div class="col-xs-3">
				<input type="text" class="form-control" />
			</div>
			<small class="help-inline col-xs-7"><span class="text-danger">(必填)</span> 如並非自有客戶，請填該單位名稱。ex. 宏其醫院</small>
		</div>
		<div class="bg-warning">
			<div class="form-group">
				<label class="col-xs-2 control-label">聯絡電話1</label>
				<div class="col-xs-3">
					<input type="text" class="form-control" />
				</div>
				<label class="col-xs-2 control-label">聯絡電話2</label>
				<div class="col-xs-3">
					<input type="text" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">身分證號</label>
				<div class="col-xs-3">
					<input type="text" class="form-control" />
				</div>
				<label class="col-xs-2 control-label">生日</label>
				<div class="col-xs-3">
					<input type="text" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">送餐地址</label>
				<div class="col-xs-1">
					<input type="text" class="form-control" disabled>
				</div>
				<div class="col-xs-2">
					<select class="form-control">
						<option value="">縣市</option>
						<option value="">台北市</option>
					</select>
				</div>
				<div class="col-xs-2">
					<select class="form-control">
						<option value="">鄉鎮市區</option>
						<option value="">大安區</option>
					</select>
				</div>
				<div class="col-xs-3">
					<input type="text" class="form-control" />
				</div>
				<small class="help-inline col-xs-1 text-danger">(必填)</small>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">備用地址</label>
				<div class="col-xs-1">
					<input type="text" class="form-control" disabled>
				</div>
				<div class="col-xs-2">
					<select class="form-control">
						<option value="">縣市</option>
						<option value="">台北市</option>
					</select>
				</div>
				<div class="col-xs-2">
					<select class="form-control">
						<option value="">鄉鎮市區</option>
						<option value="">大安區</option>
					</select>
				</div>
				<div class="col-xs-3">
					<input type="text" class="form-control" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">備註</label>
			<div class="col-xs-8">
				<textarea class="form-control" row="3"></textarea>
			</div>
		</div>
		<div class="form-action text-right">
			<button class="btn-primary"><i class="fa-check"></i> 存檔確認</button>
			<button><i class="fa-times"></i> 回列表</button>
		</div>
	</div>
</form>