@{
    ViewBag.Title = "客戶需求 管理";
    ViewBag.BodyClass = "ch3 p2";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 需求表</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<h4 class="title">By Ajoe</h4>