@{
    ViewBag.Title = "客戶需求 管理";
    ViewBag.BodyClass = "ch3 p2";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 需求表</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<h4 class="title">客戶需求編輯</h4>

<form class="form-horizontal clearfix" role="form" action="~/Fake/Require2_3">
	<div class="col-xs-9">
		<div class="form-group">
			<label class="col-xs-2 control-label">用餐編號</label>
			<div class="col-xs-3">
				<input type="text" class="form-control" disabled />
			</div>
			<small class="help-inline col-xs-6 text-danger">(必填)</small>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">媽媽姓名</label>
			<div class="col-xs-3">
				<input type="text" class="form-control" disabled />
			</div>
		</div>
		<div class="bg-warning">
			<div class="form-group">
				<label class="col-xs-2 control-label">連絡電話1</label>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
				<label class="col-xs-2 control-label">連絡電話2</label>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">身分證號</label>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
				<label class="col-xs-2 control-label">生日</label>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">送餐地址</label>
				<div class="col-xs-1">
					<input type="text" class="form-control" disabled>
				</div>
				<div class="col-xs-2">
					<select class="form-control" disabled>
						<option value="">縣市</option>
						<option value="">台北市</option>
					</select>
				</div>
				<div class="col-xs-2">
					<select class="form-control" disabled>
						<option value="">鄉鎮市區</option>
						<option value="">大安區</option>
					</select>
				</div>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
				<small class="help-inline col-xs-2 text-danger">(必填)</small>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">備用地址</label>
				<div class="col-xs-1">
					<input type="text" class="form-control" disabled>
				</div>
				<div class="col-xs-2">
					<select class="form-control" disabled>
						<option value="">縣市</option>
						<option value="">台北市</option>
					</select>
				</div>
				<div class="col-xs-2">
					<select class="form-control" disabled>
						<option value="">鄉鎮市區</option>
						<option value="">大安區</option>
					</select>
				</div>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">備註</label>
			<div class="col-xs-10">
				<textarea class="form-control" row="3" disabled></textarea>
			</div>
		</div>
		<div class="form-action text-right">
			<button class="btn-primary"><i class="fa-check"></i> 存檔，下一步</button>
			<button><i class="fa-times"></i> 回列表</button>
		</div>
	</div>
</form>

<hr class="condensed" />

<h4 class="title">飲食需求設定</h4>

@* 主檔還沒新增，會出現的畫面 *@
<div class="alert alert-warning">
	請先按上方的 <strong>存檔確認</strong>，再進行設定。
</div>

@* 主檔新增完成後，會出現的畫面 *@
<div class="row">
	<div class="col-xs-6">
	    <table class="table-condensed">
	    	<caption>
	    		需求元素
	    		<div class="form-inline pull-right">
	                <div class="form-group">
	                   <input type="text" class="form-control input-sm" style="width:100px;" placeholder="需求元素名稱" /> 
	                </div>
	                <div class="form-group">
	                   <select class="form-control input-sm">
	                        <option value="">有/無對應</option>
	                        <option value="">有對應</option>
	                        <option value="">無對應</option>
	                    </select>
	                </div>
	                <div class="form-group">
	                   <select class="form-control input-sm">
	                        <option value="">全部餐別</option>
	                        <option value="">早午晚</option>
	                        <option value="">早午</option>
	                        <option value="">早晚</option>
	                        <option value="">午晚</option>
	                        <option value="">早</option>
	                        <option value="">午</option>
	                        <option value="">晚</option>
	                        <option value="">無</option>
	                    </select>
	                </div>
	            </div>
	    	</caption>
	    	<tr>
	    		<th class="col-xs-3 text-center">元素對應</th>
	    		<th class="col-xs-2">餐別</th>
	    		<th class="col-xs-5">需求元素</th>
	    		<th class="col-xs-2 text-center">加入</th>
	    	</tr>
	    	<tr>
	    		<td class="text-center"><span class="label label-success">有對應</span></td>
	    		<td>早午晚</td>
	    		<td>XXX</td>
	    		<td class="text-center">
	    			<button class="btn-link btn-lg text-success"><i class="fa-plus"></i></button>
	    		</td>
	    	</tr>
	    	<tr>
	    		<td class="text-center"><span class="label label-danger">無對應</span></td>
	    		<td>無</td>
	    		<td>XXX</td>
	    		<td class="text-center">
	    			<button class="btn-link btn-lg text-success"><i class="fa-plus"></i></button>
	    		</td>
	    	</tr>
	    </table>
	    <hr class="condensed" />
	    <ul class="pager list-inline">
	    	<li><a href="#"><i class="fa-angle-double-left"></i> 上一頁</a></li>
	    	<li>1 / 1</li>
            <li><a href="#">下一頁 <i class="fa-angle-double-right"></i></a></li>
	    </ul>
	</div>
	<div class="col-xs-6">
		<table class="table-condensed">
	    	<caption>已加入飲食需求</caption>
	    	<tr>
	    		<th class="col-xs-3 text-center">元素對應</th>
	    		<th class="col-xs-2">餐別</th>
	    		<th class="col-xs-5">需求元素</th>
	    		<th class="col-xs-2 text-center">移除</th>
	    	</tr>
	    	<tr>
	    		<td class="text-center"><span class="label label-success">有對應</span></td>
	    		<td>早午晚</td>
	    		<td>XXX</td>
	    		<td class="text-center">
	    			<button class="btn-link btn-lg text-danger"><i class="fa-times"></i></button>
	    		</td>
	    	</tr>
	    	<tr>
	    		<td class="text-center"><span class="label label-danger">無對應</span></td>
	    		<td>無</td>
	    		<td>XXX</td>
	    		<td class="text-center">
	    			<button class="btn-link btn-lg text-danger"><i class="fa-times"></i></button>
	    		</td>
	    	</tr>
	    </table>
	</div>
</div>