@{
    ViewBag.Title = "產品銷售資料 管理";
    ViewBag.BodyClass = "ch2 p2";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 銷售紀錄</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<h4 class="title">產品銷售資料列表</h4>

<div class="table-responsive">

    <div class="table-header">
        <div class="table-filter">
            <div class="form-inline">
                <div class="form-group">
                    <label for="">訂單日期</label>
                    <span class="has-feedback">
                        <input type="text" class="form-control input-sm datetimepicker" style="width:130px;" />
                        <i class="fa-calendar form-control-feedback"></i>
                    </span>
                    <label for="">~</label>
                    <span class="has-feedback">
                        <input type="text" class="form-control input-sm datetimepicker" style="width:130px;" />
                        <i class="fa-calendar form-control-feedback"></i>
                    </span>
                </div>
                <div class="form-group">
                    <label for="">銷售單號/用餐編號/媽媽姓名</label>
                    <input type="text" class="form-control input-sm" placeholder="請擇一填寫即可" />
                </div>
                
                <div class="form-group">
                    <label for="">是否轉單</label>
                    <select class="form-control input-sm">
                        <option value="">全部</option>
                        <option value="">已轉單</option>
                        <option value="">未轉單</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">是否結案</label>
                    <select class="form-control input-sm">
                        <option value="">全部</option>
                        <option value="">已結案</option>
                        <option value="">未結案</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn-primary btn-sm"><i class="fa-search"></i> 搜尋</button>
                </div>
            </div>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th class="col-xs-1 text-center">
                    <label class="cbox">
                        <input type="checkbox">
                        <i class="fa-check"></i>
                    </label>
                </th>
                <th class="col-xs-1 text-center">修改</th>
                <th class="col-xs-2">銷售單號</th>
                <th class="col-xs-2">訂購時間</th>
                <th class="col-xs-2">用餐編號</th>
                <th class="col-xs-2">媽媽姓名</th>
                <th class="col-xs-1">轉單?</th>
                <th class="col-xs-1">結案?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    <label class="cbox">
                        <input type="checkbox">
                        <i class="fa-check"></i>
                    </label>
                </td>
                <td class="text-center">
                    <a href="~/Fake/Sell2_3"><button class="btn-link btn-lg"><i class="fa-pencil"></i></button></a>
                </td>
                <td>20150101</td>
                <td>2015/1/1</td>
                <td>A001</td>
                <td>陳小姐</td>
                <td><span class="label label-default">未轉單</span></td>
                <td><span class="label label-danger">未結案</span></td>
            </tr>
            <tr>
                <td class="text-center">
                    <label class="cbox">
                        <input type="checkbox">
                        <i class="fa-check"></i>
                    </label>
                </td>
                <td class="text-center">
                    <a href="~/Fake/Sell2_3"><button class="btn-link btn-lg"><i class="fa-pencil"></i></button></a>
                </td>
                <td>20150101</td>
                <td>2015/1/1</td>
                <td>A001</td>
                <td>陳小姐</td>
                <td><span class="label label-primary">已轉單</span></td>
                <td><span class="label label-success">已結案</span></td>
            </tr>
        </tbody>
    </table>

    <div class="table-footer">
        <div class="pull-left">
            <a href="~/Fake/Sell2_2"><button class="btn-link text-success"><i class="fa-plus-circle"></i> 新增</button></a>
            <button class="btn-link text-danger"><i class="fa-trash-o"></i> 刪除</button>
        </div>
        <small class="pull-right">第1-3筆，共3筆</small>
        <ul class="pager">
            <li class="disabled"><a href="" title="第一頁"><i class="fa-angle-double-left"></i></a></li>
            <li class="disabled"><a href="" title="上一頁"><i class="fa-angle-left"></i></a></li>
            <li class="form-inline">
                <div class="form-group">
                    <label for="">第</label>
                    <input type="text" class="form-control text-center" value="1" style="width:50px;">
                    <label for="">頁，共3頁</label>
                </div>
            </li>
            <li><a href="" title="下一頁"><i class="fa-angle-right"></i></a></li>
            <li><a href="" title="最後一頁"><i class="fa-angle-double-right"></i></a></li>
        </ul>
    </div>
</div><!-- 後台常用列表 //-->