@{
    ViewBag.Title = "產品銷售資料 管理";
    ViewBag.BodyClass = "ch2 p2";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 銷售紀錄</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<h4 class="title">產品銷售資料主檔</h4>
<form class="form-horizontal clearfix" role="form" action="~/Fake/Sell2_3">
	<div class="col-xs-9">
		<div class="form-group">
			<label class="col-xs-2 control-label">銷售單號</label>
			<div class="col-xs-3">
				<input type="text" class="form-control" disabled />
			</div>
			<small class="help-inline col-xs-6">系統自動產生，無法修改</small>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">訂單日期</label>
			<div class="col-xs-3">
				<span class="has-feedback">
		            <input type="text" class="form-control datetimepicker" />
		            <i class="fa-calendar form-control-feedback"></i>
		        </span>
			</div>
			<small class="help-inline col-xs-6 text-danger">(必填)</small>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">選擇客戶</label>
			<div class="col-xs-3">
				<div class="input-group">
					<input type="text" class="form-control" disabled />
					<span class="input-group-btn">
					<a class="btn" data-toggle="modal" href="#addClient"><i class="fa-plus"></i></a>
					</span>
				</div>
			</div>
			<small class="help-inline col-xs-6"><span class="text-danger">(必填)</span> 請按 <i class="fa-plus"></i> 選取</small>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">客戶分類</label>
			<div class="col-xs-3">
				<select class="form-control" name="" id="" disabled>
					<option value="">自有客戶</option>
				</select>
			</div>
			<label class="col-xs-2 control-label">客戶名稱</label>
			<div class="col-xs-3">
				<input type="text" class="form-control" disabled />
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">用餐編號</label>
			<div class="col-xs-3">
				<input type="text" class="form-control" disabled />
			</div>
			<label class="col-xs-2 control-label">媽媽姓名</label>
			<div class="col-xs-3">
				<input type="text" class="form-control" disabled />
			</div>
		</div>
		<div class="bg-warning">
			<div class="form-group">
				<label class="col-xs-2 control-label">連絡電話1</label>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
				<label class="col-xs-2 control-label">連絡電話2</label>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">身分證號</label>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
				<label class="col-xs-2 control-label">生日</label>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">送餐地址</label>
				<div class="col-xs-1">
					<input type="text" class="form-control" disabled>
				</div>
				<div class="col-xs-2">
					<select class="form-control" disabled>
						<option value="">縣市</option>
						<option value="">台北市</option>
					</select>
				</div>
				<div class="col-xs-2">
					<select class="form-control" disabled>
						<option value="">鄉鎮市區</option>
						<option value="">大安區</option>
					</select>
				</div>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
				<small class="help-inline col-xs-2 text-danger">(必填)</small>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">備用地址</label>
				<div class="col-xs-1">
					<input type="text" class="form-control" disabled>
				</div>
				<div class="col-xs-2">
					<select class="form-control" disabled>
						<option value="">縣市</option>
						<option value="">台北市</option>
					</select>
				</div>
				<div class="col-xs-2">
					<select class="form-control" disabled>
						<option value="">鄉鎮市區</option>
						<option value="">大安區</option>
					</select>
				</div>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
			</div>
		</div>
		<div class="form-action text-right">
			<button class="btn-primary"><i class="fa-check"></i> 存檔，下一步</button>
			<button><i class="fa-times"></i> 回列表</button>
		</div>
	</div>
</form>

<div class="modal fade" id="addClient">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">選擇客戶</h4>
            </div>
            <div class="modal-body">
            	<div class="table-header">
			        <div class="table-filter">
			            <div class="form-inline">
			                <div class="form-group">
			                    <label for="">客編/客戶名稱/餐編/媽媽姓名</label>
			                    <input type="text" class="form-control input-sm" placeholder="請擇一填寫" />
			                </div>
			                <div class="form-group">
			                    <label for="">是否結案</label>
			                    <select class="form-control input-sm">
			                        <option value="">全部</option>
			                        <option value="">已結案</option>
			                        <option value="">未結案</option>
			                    </select>
			                </div>
			                <div class="form-group">
			                    <button class="btn-primary btn-sm"><i class="fa-search"></i> 搜尋</button>
			                </div>
			            </div>
			        </div>
			    </div>
            	<table class="table-condensed">
            		<tr>
            			<th class="col-xs-1 text-center">選擇</th>
            			<th class="col-xs-2">客戶編號</th>
            			<th class="col-xs-2">客戶名稱</th>
            			<th class="col-xs-2">用餐編號</th>
            			<th class="col-xs-2">媽媽姓名</th>
            			<th class="col-xs-3">是否結案</th>
            		</tr>
            		<tr>
            			<td class="text-center">
            				<label class="cbox">
		                        <input type="checkbox">
		                        <i class="fa-check"></i>
		                    </label>
            			</td>
            			<td>ABCD</td>
            			<td>宏其醫院</td>
            			<td>A001</td>
            			<td>陳小姐</td>
            			<td><span class="label label-danger">未結案</span></td>
            		</tr>
            		<tr>
            			<td class="text-center">
            				<label class="cbox">
		                        <input type="checkbox">
		                        <i class="fa-check"></i>
		                    </label>
            			</td>
            			<td>EFGH</td>
            			<td>張小姐</td>
            			<td>A002</td>
            			<td>張小姐</td>
            			<td><span class="label label-success">已結案</span></td>
            		</tr>
            	</table>
            </div>
            <div class="modal-footer">
            	<button type="button" class="btn-primary" data-dismiss="modal"><i class="fa-check"></i> 存檔確認</button>
                <button type="button" data-dismiss="modal"><i class="fa-times"></i> 取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->