@{
    ViewBag.Title = "產品銷售資料 管理";
    ViewBag.BodyClass = "ch2 p2";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 銷售紀錄</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<h4 class="title">產品銷售資料主檔</h4>
<form class="form-horizontal clearfix" role="form" action="~/Fake/Sell2">
	<div class="col-xs-9">
		<div class="form-group">
			<label class="col-xs-2 control-label">銷售單號</label>
			<div class="col-xs-3">
				<input type="text" class="form-control" disabled />
			</div>
			<small class="help-inline col-xs-6">系統自動產生，無法修改</small>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">訂單日期</label>
			<div class="col-xs-3">
				<span class="has-feedback">
		            <input type="text" class="form-control datetimepicker" disabled />
		            <i class="fa-calendar form-control-feedback"></i>
		        </span>
			</div>
			<small class="help-inline col-xs-6 text-danger">(必填)</small>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">選擇客戶</label>
			<div class="col-xs-3">
				<input type="text" class="form-control" disabled />
			</div>
			<small class="help-inline col-xs-6 text-danger">(必填)</small>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">客戶分類</label>
			<div class="col-xs-3">
				<select class="form-control" name="" id="" disabled>
					<option value="">自有客戶</option>
				</select>
			</div>
			<label class="col-xs-2 control-label">客戶名稱</label>
			<div class="col-xs-3">
				<input type="text" class="form-control" disabled />
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">用餐編號</label>
			<div class="col-xs-3">
				<input type="text" class="form-control" disabled />
			</div>
			<label class="col-xs-2 control-label">媽媽姓名</label>
			<div class="col-xs-3">
				<input type="text" class="form-control" disabled />
			</div>
		</div>
		<div class="bg-warning">
			<div class="form-group">
				<label class="col-xs-2 control-label">連絡電話1</label>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
				<label class="col-xs-2 control-label">連絡電話2</label>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">身分證號</label>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
				<label class="col-xs-2 control-label">生日</label>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">送餐地址</label>
				<div class="col-xs-1">
					<input type="text" class="form-control" disabled>
				</div>
				<div class="col-xs-2">
					<select class="form-control" disabled>
						<option value="">縣市</option>
						<option value="">台北市</option>
					</select>
				</div>
				<div class="col-xs-2">
					<select class="form-control" disabled>
						<option value="">鄉鎮市區</option>
						<option value="">大安區</option>
					</select>
				</div>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
				<small class="help-inline col-xs-2 text-danger">(必填)</small>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">備用地址</label>
				<div class="col-xs-1">
					<input type="text" class="form-control" disabled>
				</div>
				<div class="col-xs-2">
					<select class="form-control" disabled>
						<option value="">縣市</option>
						<option value="">台北市</option>
					</select>
				</div>
				<div class="col-xs-2">
					<select class="form-control" disabled>
						<option value="">鄉鎮市區</option>
						<option value="">大安區</option>
					</select>
				</div>
				<div class="col-xs-3">
					<input type="text" class="form-control" disabled />
				</div>
			</div>
		</div>
		<div class="form-action text-right">
			<strong>主檔資料不可修改!!</strong>
			<button><i class="fa-times"></i> 回列表</button>
		</div>
	</div>
</form>

<hr class="condensed" />

<h4 class="title">
	是否結案：<strong class="text-danger">未結案</strong>
	@* 如已結案，按鈕要消失或 disable *@
	<button class="btn-success"><i class="fa-check"></i> 設為 已結案</button>
</h4>

<h4 class="title">新增產品明細</h4>
<div class="row">
	<div class="col-xs-9">
		<div class="item-box">
			<div class="item-title">
				<h5>產品明細基本資料</h5>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form">

					<div class="form-group">
						<label class="col-xs-2 control-label">銷售日期</label>
						<div class="col-xs-4">
							<span class="has-feedback">
								<input type="text" class="form-control datetimepicker" />
								<i class="fa-calendar form-control-feedback"></i>
							</span>
						</div>
						<small class="help-inline col-xs-6 text-danger">(必填)</small>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">選擇產品</label>
						<div class="col-xs-4">
							<div class="input-group">
								<input type="text" class="form-control" disabled />
								<span class="input-group-btn">
									<a class="btn" data-toggle="modal" href="#addProduct"><i class="fa-plus"></i></a>
								</span>
							</div>
						</div>
						<small class="help-inline col-xs-6"><span class="text-danger">(必填)</span> 請按 <i class="fa-plus"></i> 選取</small>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">產品分類</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" disabled />
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">產品名稱</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" disabled />
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">規格</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">售價</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" />
						</div>
						<label class="col-xs-1 control-label">數量</label>
						<div class="col-xs-1">
							<input type="text" class="form-control" />
						</div>
						<small class="help-inline col-xs-2 text-danger">(必填)</small>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">小計</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">備註</label>
						<div class="col-xs-4">
							<textarea rows="2" class="form-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="item-title">
				<h5>
					用餐排程 &amp; 試算
					<small class="text-muted">產品分類為 "月子餐" 才需填寫!!</small>
				</h5>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form">

					<div class="form-group">
						<label class="col-xs-2 control-label">預計送餐起日</label>
						<div class="col-xs-6">
							<input type="text" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">預計送餐迄日</label>
						<div class="col-xs-6">
							<input type="text" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">預計天數</label>
						<div class="col-xs-6">
							<input type="text" class="form-control" disabled />
						</div>
						<small class="help-inline col-xs-4">系統自動計算</small>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">預計餐數</label>
						<div class="col-xs-2">
							<div class="input-group">
								<span class="input-group-addon" id="meal1-1">早</span>
								<input type="text" class="form-control" aria-describedby="meal1-1">
							</div>
						</div>
						<div class="col-xs-2">
							<div class="input-group">
								<span class="input-group-addon" id="meal1-2">午</span>
								<input type="text" class="form-control" aria-describedby="meal1-2">
							</div>
						</div>
						<div class="col-xs-2">
							<div class="input-group">
								<span class="input-group-addon" id="meal1-3">晚</span>
								<input type="text" class="form-control" aria-describedby="meal1-3">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">預計點數</label>
						<div class="col-xs-6">
							<input type="text" class="form-control" disabled />
						</div>
						<small class="help-inline col-xs-4">系統自動計算</small>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">實際餐數</label>
						<div class="col-xs-2">
							<div class="input-group">
								<span class="input-group-addon" id="meal2-1">早</span>
								<input type="text" class="form-control" aria-describedby="meal2-1" disabled>
							</div>
						</div>
						<div class="col-xs-2">
							<div class="input-group">
								<span class="input-group-addon" id="meal2-2">午</span>
								<input type="text" class="form-control" aria-describedby="meal2-2" disabled>
							</div>
						</div>
						<div class="col-xs-2">
							<div class="input-group">
								<span class="input-group-addon" id="meal2-3">晚</span>
								<input type="text" class="form-control" aria-describedby="meal2-3" disabled>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">實際點數</label>
						<div class="col-xs-6">
							<input type="text" class="form-control" disabled />
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">用餐週期<br />說明</label>
						<div class="col-xs-6">
							<textarea rows="3" class="form-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="panel-footer text-right clearfix">
				<button class="btn-primary">
					<i class="fa-check"></i> 存檔確認
				</button>
			</div>
		</div>
	</div>
</div>

<hr class="condensed" />

<h4 class="title">產品明細</h4>

<table class="table-condensed">
	<tr>
		<th class="col-xs-1 text-center">編輯</th>
		<th class="col-xs-2">明細單號</th>
		<th class="col-xs-4">產品名稱</th>
		<th class="col-xs-1">單價</th>
		<th class="col-xs-1">數量</th>
		<th class="col-xs-1">小計</th>
		<th class="col-xs-2 text-center">用餐明細</th>
	</tr>
	<tr>
		<td class="text-center">
			<button class="btn-link text-danger"><i class="fa-trash"></i></button>
			<button class="btn-link" data-toggle="modal" data-target="#editDetail"><i class="fa-pencil"></i></button>
		</td>
		<td>A100</td>
		<td>XXX</td>
		<td>100</td>
		<td>10</td>
		<td>1000</td>
		<td class="text-center"><button class="btn-info btn-sm"><i class="fa-search"></i> 查看</button></td>
	</tr>
</table>

<div class="modal fade" id="addProduct">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">選擇產品</h4>
            </div>
            <div class="modal-body">
            	<div class="table-header">
			        <div class="table-filter">
			            <div class="form-inline">
			                <div class="form-group">
			                    <label for="">產品名稱</label>
			                    <input type="text" class="form-control input-sm" />
			                </div>
			                <div class="form-group">
			                    <label for="">產品分類</label>
			                    <select class="form-control input-sm">
			                        <option value="">全部</option>
			                        <option value="">試吃</option>
			                        <option value="">月子餐</option>
			                        <option value="">一般商品</option>
			                        <option value="">折扣 &amp; 退款</option>
			                    </select>
			                </div>
			                <div class="form-group">
			                    <button class="btn-primary btn-sm"><i class="fa-search"></i> 搜尋</button>
			                </div>
			            </div>
			        </div>
			    </div>
            	<table class="table-condensed">
            		<tr>
            			<th class="col-xs-1 text-center">選擇</th>
            			<th class="col-xs-3">產品名稱</th>
            			<th class="col-xs-3">產品分類</th>
            			<th class="col-xs-2">售價</th>
            		</tr>
            		<tr>
            			<td class="text-center">
            				<label class="cbox">
		                        <input type="checkbox">
		                        <i class="fa-check"></i>
		                    </label>
            			</td>
            			<td>試吃</td>
            			<td><span class="label label-warning">試吃</span></td>
            			<td>0</td>
            		</tr>
            		<tr>
            			<td class="text-center">
            				<label class="cbox">
		                        <input type="checkbox">
		                        <i class="fa-check"></i>
		                    </label>
            			</td>
            			<td>月子餐</td>
            			<td><span class="label label-success">月子餐</span></td>
            			<td>0</td>
            		</tr>
            		<tr>
            			<td class="text-center">
            				<label class="cbox">
		                        <input type="checkbox">
		                        <i class="fa-check"></i>
		                    </label>
            			</td>
            			<td>一般商品</td>
            			<td><span class="label label-info">一般商品</span></td>
            			<td>0</td>
            		</tr>
            		<tr>
            			<td class="text-center">
            				<label class="cbox">
		                        <input type="checkbox">
		                        <i class="fa-check"></i>
		                    </label>
            			</td>
            			<td>折扣 &amp; 退款</td>
            			<td><span class="label label-danger">折扣 &amp; 退款</span></td>
            			<td>0</td>
            		</tr>
            	</table>
            </div>
            <div class="modal-footer">
            	<button type="button" class="btn-primary" data-dismiss="modal"><i class="fa-check"></i> 存檔確認</button>
                <button type="button" data-dismiss="modal"><i class="fa-times"></i> 取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editDetail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">選擇產品</h4>
            </div>
            <div class="modal-body">
            	<div class="row">
					<div class="col-xs-6">
						<div class="item-box">
							<div class="item-title">
								<h5>產品明細基本資料</h5>
							</div>
							<div class="panel-body">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-xs-3 control-label">銷售日期</label>
										<div class="col-xs-5">
											<span class="has-feedback">
												<input type="text" class="form-control datetimepicker" />
												<i class="fa-calendar form-control-feedback"></i>
											</span>
										</div>
										<small class="help-inline col-xs-4 text-danger">(必填)</small>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label">選擇產品</label>
										<div class="col-xs-5">
											<div class="input-group">
												<input type="text" class="form-control" disabled />
												<span class="input-group-btn">
													<a class="btn" data-toggle="modal" href="#addProduct"><i class="fa-plus"></i></a>
												</span>
											</div>
										</div>
										<small class="help-inline col-xs-4"><span class="text-danger">(必填)</span> 請按 <i class="fa-plus"></i> 選取</small>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label">產品分類</label>
										<div class="col-xs-5">
											<input type="text" class="form-control" disabled />
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label">產品名稱</label>
										<div class="col-xs-5">
											<input type="text" class="form-control" disabled />
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label">規格</label>
										<div class="col-xs-5">
											<input type="text" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label">售價</label>
										<div class="col-xs-3">
											<input type="text" class="form-control" />
										</div>
										<label class="col-xs-2 control-label">數量</label>
										<div class="col-xs-2">
											<input type="text" class="form-control" />
										</div>
										<small class="help-inline col-xs-2 text-danger">(必填)</small>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label">小計</label>
										<div class="col-xs-7">
											<input type="text" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label">備註</label>
										<div class="col-xs-7">
											<textarea rows="2" class="form-control"></textarea>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="item-box">
							<div class="item-title">
								<h5>
									用餐排程 &amp; 試算
									<small class="text-muted">產品分類為 "月子餐" 才需填寫!!</small>
								</h5>
							</div>
							<div class="panel-body">
								<form class="form-horizontal clearfix" role="form">
									<div class="form-group">
										<label class="col-xs-3 control-label">預計送餐起日</label>
										<div class="col-xs-6">
											<input type="text" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label">預計送餐迄日</label>
										<div class="col-xs-6">
											<input type="text" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label">預計天數</label>
										<div class="col-xs-6">
											<input type="text" class="form-control" disabled />
										</div>
										<small class="help-inline col-xs-3">系統自動計算</small>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label">預計餐數</label>
										<div class="col-xs-2">
											<div class="input-group">
												<span class="input-group-addon" id="meal1-1">早</span>
												<input type="text" class="form-control" aria-describedby="meal1-1">
											</div>
										</div>
										<div class="col-xs-2">
											<div class="input-group">
												<span class="input-group-addon" id="meal1-2">午</span>
												<input type="text" class="form-control" aria-describedby="meal1-2">
											</div>
										</div>
										<div class="col-xs-2">
											<div class="input-group">
												<span class="input-group-addon" id="meal1-3">晚</span>
												<input type="text" class="form-control" aria-describedby="meal1-3">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label">預計點數</label>
										<div class="col-xs-6">
											<input type="text" class="form-control" disabled />
										</div>
										<small class="help-inline col-xs-3">系統自動計算</small>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label">實際餐數</label>
										<div class="col-xs-2">
											<div class="input-group">
												<span class="input-group-addon" id="meal2-1">早</span>
												<input type="text" class="form-control" aria-describedby="meal2-1" disabled>
											</div>
										</div>
										<div class="col-xs-2">
											<div class="input-group">
												<span class="input-group-addon" id="meal2-2">午</span>
												<input type="text" class="form-control" aria-describedby="meal2-2" disabled>
											</div>
										</div>
										<div class="col-xs-2">
											<div class="input-group">
												<span class="input-group-addon" id="meal2-3">晚</span>
												<input type="text" class="form-control" aria-describedby="meal2-3" disabled>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label">實際點數</label>
										<div class="col-xs-6">
											<input type="text" class="form-control" disabled />
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-3 control-label">用餐週期<br />說明</label>
										<div class="col-xs-6">
											<textarea rows="2" class="form-control"></textarea>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
            </div>
            <div class="modal-footer">
            	<button type="button" class="btn-primary" data-dismiss="modal"><i class="fa-check"></i> 存檔確認</button>
                <button type="button" data-dismiss="modal"><i class="fa-times"></i> 取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->