@{
    ViewBag.Title = "文案內容 管理";
    ViewBag.BodyClass = "ch7 p5";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 通訊系統</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<h4 class="title">By Ajoe</h4>